<div class="post">
  <div class="post__header">
      <p class="post__author">Author: <%= post.username %></p>
      <p class="post__date"><%= post.date %></p>
      <h2><%= post.title %></h2>
      <button class="delete-button" type="submit" data-post-id="<%= post.id %>">Delete</button>
      <button class="edit-button" type="submit" data-post-id="<%= post.id %>">Edit</button>
  </div>
  <div class="post__content">
      <p><%= post.content %></p>
  </div>
  <div class="post__footer">
      <span id="like-count-<%= post.id %>"><%= post.likes ? post.likes.size : 0 %></span>
      <button class="like-button" data-post-id="<%= post.id %>">Like</button>
      <span id="comment-count-<%= post.id %>"><%= post.comments ? post.comments.length : 0 %></span>
      <button class="open-comment-modal" id="open-comment-modal" data-post-id="<%= post.id %>">Comment</button>
      <div id="comment-modal-<%= post.id %>" class="modal comment-modal">
        <div class="modal-content" id="comment-modal-<%post.id%>">
            <span class="close-btn" id="close-comments">&times;</span>
            <h2>Comments</h2>
            <div id="comment-list-<%= post.id %>">
                <% if (post.comments && post.comments.length > 0) { %>
                    <% post.comments.forEach(function(comment) { %>
                        <div class="comment">
                            <b><%=comment.username %></b>:<%= comment.text %>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No comments yet</p>
                <% } %>
            </div>
            
            <form class="comment-form" data-post-id="<%= post.id %>">
                <input type="hidden" class="comment-post-id" value="<%= post.id %>">  
                <textarea class="comment-text" placeholder="Write a comment..." required></textarea>
                <button type="submit">Post Comment</button>
            </form>
        </div>
    </div>
  </div>
</div>