<%- include("partials/navbar.ejs") %>
    <div class="main">
        <div class="profile">
            <h1>Profile of <%= username %>
            </h1>

            <div class="posts">
                <% if (posts && posts.length> 0) { %>
                  <% posts.forEach(function(post) { %>
                    <div class="post">
                      <div class="post__header">
                        <p class="post__author">Author: <%= post.username %>
                        </p>
                        <p class="post__date">
                          <%= post.date %>
                        </p>
                        <h2>
                          <%= post.title %>
                        </h2>
                      </div>
                      <div class="post__content">
                        <p>
                          <%= post.content %>
                        </p>
                      </div>
                    </div>
                    <% }) %>
                      <% } else { %>
                        <p>No posts yet</p>
                        <% } %>
              </div>
        </div>
    </div>

    <script src="/script.js"></script>
    <%- include("partials/footer.ejs") %>